#Missionandvission{
    display: flex;
    gap: 17%;
    height: 900px;
    width: 1835px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Image/trousers.png");
    opacity: 0.75;
}
.mission{
    background-color: rgba(224, 137, 151, 0.705);
    height: 600px;
    width: 580px;
    margin-top: 8%;
    margin-left: 8%;
    font-size: 26px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  
    line-height: 2.0; 
    padding: 2%;    
}
.vision{
    background-color: rgba(224, 137, 151, 0.76);
    height: 600px;
    width: 580px;
    margin-top: 8%;
    font-size: 26px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 2.0; 
    padding: 2%;
}
.heading{
    text-align: center;
}


@media  screen and (min-width: 375px) and (max-width: 389px) {
   
    #Missionandvission{
        display: block;
        gap: 17%;
        height: 1050px;
        width: 390px;
        background-repeat: no-repeat;
        /* background-size: 2ccover; */
        background-image: url("../Image/trousers.png");
        opacity: 0.75;
        margin-bottom: 10px;
    }
    .mission{
        display: block;
        background-color: rgba(255, 192, 203, 0.671);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
    }
    .vision{
        display: block;
        background-color: rgba(255, 192, 203, 0.637);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
        
    }
    .heading{
        text-align: center;
    }
}
@media screen and (min-width:401px) and (max-width:450px){

    #Missionandvission{
        display: block;
        gap: 17%;
        height: 1050px;
        width: 390px;
        background-repeat: no-repeat;
        /* background-size: 2ccover; */
        background-image: url("../Image/trousers.png");
        opacity: 0.75;
        margin-bottom: 10px;
    }
    .mission{
        display: block;
        background-color: rgba(255, 192, 203, 0.671);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
    }
    .vision{
        display: block;
        background-color: rgba(255, 192, 203, 0.637);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
        
    }
    .heading{
        text-align: center;
    }




}



 
@media screen and (min-width:270px) and (max-width:350px){

    #Missionandvission{
        display: block;
        gap: 17%;
        height: 1050px;
        width: 390px;
        background-repeat: no-repeat;
        /* background-size: 2ccover; */
        background-image: url("../Image/trousers.png");
        opacity: 0.75;
        margin-bottom: 10px;
    }
    .mission{
        display: block;
        background-color: rgba(255, 192, 203, 0.671);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
    }
    .vision{
        display: block;
        background-color: rgba(255, 192, 203, 0.637);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
        
    }
    .heading{
        text-align: center;
    }



}


@media screen and (min-width:401px) and (max-width:450px){

    #Missionandvission{
        display: block;
        gap: 17%;
        height: 1050px;
        width: 390px;
        background-repeat: no-repeat;
        /* background-size: 2ccover; */
        background-image: url("../Image/trousers.png");
        opacity: 0.75;
        margin-bottom: 10px;
    }
    .mission{
        display: block;
        background-color: rgba(255, 192, 203, 0.671);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
    }
    .vision{
        display: block;
        background-color: rgba(255, 192, 203, 0.637);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
        
    }
    .heading{
        text-align: center;
    }


}


@media screen and (min-width:1021px) and (max-width:1100px){

    #Missionandvission{
        display: block;
        gap: 17%;
        height: 1050px;
        width: 390px;
        background-repeat: no-repeat;
        /* background-size: 2ccover; */
        background-image: url("../Image/trousers.png");
        opacity: 0.75;
        margin-bottom: 10px;
    }
    .mission{
        display: block;
        background-color: rgba(255, 192, 203, 0.671);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
    }
    .vision{
        display: block;
        background-color: rgba(255, 192, 203, 0.637);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 6%;
        padding: 1%;
        
    }
    .heading{
        text-align: center;
    }


}

@media screen and (min-width:768px) and (max-width:1024px){

    #Missionandvission{
        display: block;
        gap: 17%;
        height: 1020px;
        width: 1430px;
        background-repeat: no-repeat;
        /* background-size: 2ccover; */
        background-image: url("../Image/trousers.png");
        opacity: 0.75;
        margin-bottom: 10px;
    }
    .mission{
        display: block;
        background-color: rgba(255, 192, 203, 0.671);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 35%;
        padding: 1%;
    }
    .vision{
        display: block;
        background-color: rgba(255, 192, 203, 0.637);
        height: 500px;
        width: 300px;
        font-size: 15px;
        margin-left: 35%;
        padding: 1%;
       
        
    }
    .heading{
        text-align: center;
    }
}
