.images {
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-top: 6%;
}
#clothes-details {
  background-color: rgba(217, 187, 186);
}
.clothes {
  width: 500px;
  height: 580px;
  border-radius: 10px;
}
.img2 {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.heading h1 {
  text-align: center;
  font-size: 45px;
  position: relative;
  top: 30px;
  color: #011936;
}




  
@media screen and (min-width:100px) and (max-width:280px) {
  .images {
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .clothes {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: -1%;
  }

  .heading h1 {
    text-align: center;
    font-size: 20px;
    /* position: relative; */
    top: 20px;
  }

  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 250px;
    height: 700px;
    margin-left:5%;

  }
 
}

@media screen and (min-width: 281px) and (max-width: 395px) {
  .images {
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .clothes {
    width: 300px;
    height: 280px;
    border-radius: 10px;
    margin-top: 5%;
  }

  .heading h1 {
    text-align: center;
    font-size: 20px;
    /* position: relative; */
    top: 20px;
    
    }


     #clothes-details{
        
        
     }
}
@media (min-width: 760px) and (max-width: 1023px){
    .images{
  }

  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 350px;
    height: 980px;
    margin-left: 3%;
  }
  
  }


@media screen and (min-width: 396px) and (max-width: 420px) {
  .images {
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .clothes {
    width: 300px;
    height: 280px;
    border-radius: 10px;
    margin-top: 5%;
  }

  .heading h1 {
    text-align: center;
    font-size: 20px;
    /* position: relative; */
    top: 20px;
  }
  
}

@media screen and (min-width: 521px) and (max-width: 540px) {
  .images {
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .clothes {
    width: 450px;
    height: 400px;
    margin-top: 5%;
    border-radius: 10%;
    margin-left: -1%;
  }

  .heading h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
  }
  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 800px;
    height: 1500px;
    margin-left: 18%;
  }

    
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .clothes {
    width: 480px;
    height: 480px;
  }

  .heading h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
  }
  .images {
    display: flex;
    gap: 3%;
  }
  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 1600px;
    height: 700px;
    margin-left: 5%;


  }
  
  
}

@media screen and (min-width: 770px) and (max-width: 820px) {
  .clothes {
    width: 450px;
    height: 450px;
  }

  .heading h1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 40px;
    margin-left: 3%;
  }
  .images {
    display: flex;
    gap: 3%;
  }
  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 1500px;
    height: 700px;
  }

  #clothes-details {
    background-color: rgba(217, 187, 186);
    margin-left: 6%;
  }
  
}

@media screen and (min-width: 821px) and (max-width: 980px) {
  .clothes {
    width: 400px;
    height: 380px;
  }

  .heading h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
  }
  .images {
    display: flex;
    gap: 3%;
  }
  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 1000px;
    height: 1500px;
    margin-left: 23%;


  }

}

@media screen and (min-width: 981px) and (max-width: 1010px) {
  .images {
    display: flex;
    gap: 5%;
  }

  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 1250px;
    height: 500px;
  }

  .clothes {
    margin-left: 100px;
  }

  .heading h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
  }
}

@media screen and (min-width: 1011px) and (max-width: 1024px) {
  .images {
    display: flex;
    gap: 5%;
  }

  #clothes-details {
    background-color: rgba(217, 187, 186);
    width: 1550px;
    height: 850px;
    margin-left: 3%;
  }

  .clothes {
    width: 450px;
    height: 600px;
  }

  .heading h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 40px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .images {
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 6%;
  }
  #clothes-details {
    background-color: rgba(217, 187, 186);
    margin-left:8%;
    height: 850px;
    width: 1650px;
  }
  .clothes {
    width: 500px;
    height: 580px;
    border-radius: 10px;
  }
  .img2 {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  .heading h1 {
    text-align: center;
    font-size: 45px;
    position: relative;
    top: 30px;
    color: #011936;
  }
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .clothes {
    width: 450px;
    height: 450px;
  }

  .heading h1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 40px;
    margin-left: 3%;
  }
  .images {
    display: flex;
    gap: 2%;
  }
  

  #clothes-details {
    background-color: rgba(217, 187, 186);
    margin-left: 6%;
  }
}
