#call-to-action{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}
#message{
    font-size: 60px;
    font-weight:bolder;
    color: #011936;
    margin-top: 140px;
   
}
.pic{
    width: 805px;
    height: 561px;
}
@media screen and (min-width:280px) and (max-width:480px){
    #call-to-action{
    flex-direction: column;
       
       
    }
    #message{
        font-size: 31px;
        
        margin-top: -50px;
        margin-left: 1px;
       
    }
    .pic{
        width: 300px;
        height: 250px;
    }   
}
@media screen and (min-width: 481px) and (max-width: 681px) {
    #call-to-action{
        flex-direction: column;
        
    
    }
    #message{
        font-size: 20px;
        
        margin-top: -50px;
        margin-left: 1px;
       
    }
    .pic{
        width: 300px;
        height: 250px;
    } 
}
@media screen and (min-width: 682px) and (max-width: 882px) {
    #call-to-action{
        flex-wrap: column;
        
    
    }
    #message{
        font-size: 20px;
        margin-top: -50px;
        margin-left: 1px;
       
    }
    .pic{
        width: 370px;
        height: 350px;
    } 
}
@media screen and (min-width: 883px) and (max-width: 1083px) {
    #call-to-action{
        flex-direction: column;
        
    
    }
    #message{
        font-size: 30px;
        
        margin-top: -50px;
        margin-left: 1px;
       
    }
    .pic{
        width: 355px;
        height: 250px;
    } 
}   
/* @media screen and (min-width: 1083px) and (max-width: 1284px) {
    #call-to-action{
        flex-direction: column;
        
    
    }
    #message{
        font-size: 30px;
        
        margin-top: -50px;
        margin-left: 1px;
       
    }
    .pic{
        width: 355px;
        height: 250px;
    } 
}    */
/* @media screen and (min-width: 540px) and (max-width: 720px) {
    #call-to-action{
        flex-direction: column;
        
    
    }
    #message{
        font-size: 30px;
        
        margin-top: -50px;
        margin-left: 40px;
       
    }
    .pic{
        width: 300px;
        height: 250px;
    } 
} */



@media screen and (min-width: 414px) and (max-width: 896px) {
    #call-to-action{
        flex-direction: column;
        
    
    }
    #message{
        font-size: 20px;
        
        margin-top: -50px;
        margin-left: 1px;
       
    }
    .pic{
        width: 300px;
        height: 250px;
    } 
}


@media screen and (min-width: 912px) and (max-width: 1368px) {
    #call-to-action{
        flex-direction: column;
        
    
    }
    #message{
        font-size: 40px;
        
        margin-top: -30px;
        margin-left: 6px;
       
    }
    .pic{
        width: 355px;
        height: 350px;
    } 
}  
